{% extends 'base.html' %}
{% block maincontent %}
{% load static %}

<div class="partners">

  <div class="title">ACCOMPLISHED PROJECTS</div>

  <div class="title-container">
    <h2 class="product-title">
      MCDONALD'S DIVERSION, BALANGA BATAAN<br>Design and Build of 15 CMD WTF
    </h2>
  </div>

  <img src="{% static 'images/bataanAccomProject.png' %}" />

  <div class="title">ON-GOING PROJECTS</div>

  <div style="margin-bottom:64px;" class="title-container">
    <h2 class="product-title">
      MCDONALD'S HERMOSA BATAAN<br>Rehabiliation and Upgrade of Existing 15 CMD STP
    </h2>
  </div>

  <div class="title">PROJECT PERSPECTIVE</div>
  <div class="subheading">
    <p>Upgrade of existing STP in Hermosa Bataan</p>
  </div>

  <img src="{% static 'images/hermosaOngoing.png' %}" />

    <div class="title-container">
    <h2 class="product-title">
      MCDONALD'S DINALUPIHAN, BATAAN<br>Rehabiliation and Upgrade of Existing STP
    </h2>
  </div>

    <div class="title-container">
    <h2 class="product-title">
      MCDONALD'S BAGONG SILANG, BATAAN<br>Rehabiliation and Upgrade of Existing STP
    </h2>
  </div>
  
</div>


{% endblock %}