{% extends 'base.html' %}
{% block maincontent %}
{% load static %}

<div class="home">

  <div class="carousel">
    <div class="carousel-inner">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="text-content">
          <h2>Compact Sewage Treatment Plant (STP)</h2>
          <p>A modern, space-efficient STP solution designed and built by our team. Engineered for durability and ease of maintenance, it offers a clean design and straightforward access for daily operation — a reflection of our commitment to practical, long-lasting solutions that truly work for our clients.</p>
        </div>
        <div class="image-content">
          <img src="{% static 'images/featured1.png' %}" alt="Slide 1" />
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="text-content">
          <h2>From Raw to Treated: Effluent Quality</h2>
          <p>The transformation made possible by our treatment process — from raw effluent (left) to clear, treated effluent (right). It demonstrate the system's efficiency in removing suspended solids, reducing turbidity, and meeting DENR effluent standards.<br>The result is clean, compliant water that's safe for discharge and can be reused for non-potable applications — reflecting our commitment to sustainable, high-performance treatment solutions.</p>
        </div>
        <div class="image-content">
          <img src="{% static 'images/featured2.png' %}" alt="Slide 2" />
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="text-content">
          <h2>Blower System — Built for High Performance</h2>
          <p>A closer look at our blower system—the core of the biological treatment process. By delivering consistent airflow to sustain healthy microbial activity, it ensures the effective breakdown of organic matter while supporting long-term performance and reliability in operations.</p>
        </div>
        <div class="image-content">
          <img src="{% static 'images/featured3.png' %}" alt="Slide 3" />
        </div>
      </div>

    </div>

    <!-- Navigation Arrows -->
    <button class="nav prev">&#10094;</button>
    <button class="nav next">&#10095;</button>

    <!-- Dots -->
    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

  <div class="introduction">
    <div class="container">
      <div id="text" class="collapsible-text">
        <div class="fade-out"></div>
        At Flow Industries OPC, we believe water is more than just a it's life itself. Every drop sustains people, communities, while also nurturing the environment we all depend on. Yet, with growing pressures from urbanization, agriculture, and industry, protecting this vital resource has never been more important.
        <br><br>
        That's why we go beyond traditional methods, combining innovation and sustainability to meet today's challenges. From removing visible impurities to tracking modern contaminants like microplasts and pharmaceuticals, our mission is clear: to provide safe, reliable, and future-ready water solutions.
        <br><br>
        When you partner with us, you're not just investing a treatment system—you're helping build a healthier community, a stronger economy, and a more sustainable tomorrow.
      </div>
      <button id="toggleBtn" class="see-more-btn">See More</button>
    </div>
  </div>

  <div class="title what-we-offer"><p>WHAT WE OFFER</p></div>
  <div class="grid-container">
    
    <a href="{% url 'services:consulting-services' %}">
      <div class="card consulting-services">
        <div class="img-container">
          <img src="{% static 'images/consulting-services.png' %}" alt="Consulting Services">
        </div>
        <p>Engineering and Consulting Services</p>
      </div>
    </a>
    <a href="{% url 'services:design-and-build' %}">
      <div class="card design-and-build">
        <div class="img-container">
          <img src="{% static 'images/design-and-build.png' %}" alt="Design and Build">
        </div>
        <p>Design and Build</p>
      </div>
    </a>
    <a href="{% url 'services:engineering-services' %}">
      <div class="card engineering-services">
        <div class="img-container">
          <img class="img-w-text" src="{% static 'images/support-service.png' %}" alt="Engineering Services">
        </div>
        <p>Support Service and Regulatory Assistance</p>
      </div>
    </a>
    <a href="{% url 'services:operations-and-maintenance' %}">
      <div class="card operations-and-maintenance">
        <div class="img-container">
          <img src="{% static 'images/operations-and-maintenance.png' %}" alt="Operations and Maintenance">
        </div>
        <p>Operations and Maintenance</p>
      </div>
    </a>
    <a href="{% url 'services:rehabilitation' %}">
      <div class="card rehabilitation">
        <div class="img-container">
          <img src="{% static 'images/rehabilitation.png' %}" alt="Rehabilitation">
        </div>
        <p>Rehabilitation</p>
      </div>
    </a>
    <a href="{% url 'services:technology-upgrade' %}">
      <div class="card technology-upgrade">
        <div class="img-container">
          <img src="{% static 'images/TechnologyUpgrade.png' %}" alt="Technology Upgrade">
        </div>
        <p>Technology Upgrade</p>
      </div>
    </a>
  </div>

</div>

{% endblock %}