{% extends 'base.html'%}
{% block maincontent %}

<div class="careers">
  <h1>Careers</h1>

  {% comment %} JOB OPPORTUNITY 1 {% endcomment %}
  <div class="collapsible-container">
    <div class="collapsible-header" onclick="toggleCollapse(this)">
      <h2>Flow Industries OPC</h2>
      <span class="arrow"><img src="/static/images/down-arrow.png/"></span>
    </div>
    
    <div class="company-description">
      <p>We are a dedicated wastewater management company committed to protecting the environment through sustainable solutions. We are looking for passionate and responsible individuals to join our team.</p>
    </div>
  
    <div class="collapsible-content">
      <p><strong>Job Title:</strong> Wastewater Treatment Operator (Technician / Specialist)</p>
      
      <p><strong>Job Qualifications:</strong></p>
      <ul>
        <li>High school diploma or equivalent (required)</li>
        <li>Degree or certification in Environmental Science, Engineering</li>
        <li>Previous experience in wastewater treatment or a related industry</li>
        <li>Good communication and problem-solving skills</li>
        <li>Strong attention to detail and ability to follow safety protocols</li>
        <li>Willingness to learn and undergo training if necessary</li>
      </ul>
  
      <p><strong>Job Requirements:</strong></p>
      <ul>
        <li>Must be at least 18 years old</li>
        <li>Physically fit and able to work in various environmental conditions</li>
        <li>Ability to work independently and as part of a team</li>
        <li>Flexible schedule; willing to work weekends, holidays, or on-call shifts</li>
        <li>Valid driver's license (required for certain positions)</li>
      </ul>
  
      <a href="#" class="apply-button" onclick="openModal()">APPLY NOW</a>
    </div>
  </div>

  {% comment %} JOB OPPORTUNITY 2 {% endcomment %}
  <div class="collapsible-container">
    <div class="collapsible-header" onclick="toggleCollapse(this)">
      <h2>Flow Industries OPC</h2>
      <span class="arrow"><img src="/static/images/down-arrow.png/"></span>
    </div>
    
    <div class="company-description">
      <p>This is a full-time on-site role for a Civil Engineer located in Muntinlupa City. The Civil Engineer will be responsible for designing, planning, and managing civil engineering projects. Day-to-day tasks include executing civil engineering designs, and consulting with clients and other engineers to ensure project success.</p>
    </div>
  
    <div class="collapsible-content">
      <p><strong>Job Title:</strong> Civil Engineer</p>
      
      <p><strong>Job Qualifications:</strong></p>
      <ul>
        <li>Bachelor's Degree in Civil Engineering</li>
        <li>PRC Licensed</li>
        <li>Experience as Civil Engineers and understanding of industry standards (3 years of experience in construction specifically on Water/Wastewater Treatment Plan for STE Role) </li>
        <li>Skills in Civil Engineering Design and implementation</li>
        <li>Proficient in Planning and coordination of engineering projects</li>
        <li>Excellence analytical and problem-solving skills.</li>
        <li>Strong communication and interpersonal abilities</li>
      </ul>

      <p><strong>Job Requirements:</strong></p>
      <ul>
        <li>Must be at least 18 years old</li>
        <li>Physically fit and able to work in various environmental conditions</li>
        <li>Ability to work independently and as part of a team</li>
        <li>Flexible schedule; willing to work weekends, holidays, or on-call shifts</li>
        <li>Valid driver's license (required for certain positions)</li>
      </ul>
  
      <a href="#" class="apply-button" onclick="openModal()">APPLY NOW</a>
    </div>
  </div>
  
  {% comment %} Application Form {% endcomment %}
  <div class="modal-overlay" id="modalOverlay">
    <div class="modal">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      <h2>APPLICATION FORM</h2>
      <form action="{% url 'careers:index' %}" method="POST">
        {% comment %} {% csrf_token %} {% endcomment %}
        <input type="text" placeholder="Full Name" name="full_name" required>
        <input type="email" placeholder="Email" name="email" required>
        <textarea placeholder="Additional Information" name="additional_info"></textarea>
        <div>
          <label>Upload your CV</label><br>
          <input type="file" name="cv">
        </div>
        <button type="submit" class="submit-btn">SUBMIT</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}