{% extends 'base.html'%}
{% block maincontent %}

<div class="careers">
  <h1>Join Our Mission to Transform Water<br>for a Better Tomorrow</h1>
  <p class="careers-description">
    At Flow Industries OPC, we are driven by a noble mission — to serve others through meaningful work that creates cleaner, healthier communities. Guided by our vision to become the leading organization in the Philippines, we uphold strong values: being capable, trustworthy, incorruptible, and God-fearing.<br><br>
    Whether you're a fresh graduate or a seasoned expert, you'll be a part of a purpose-driven team that values integrity, growth, and collaboration. We believe that attitude comes first, talent follows, and profit is the result — because who we are matters most.<br><br>
    Start your journey with us — where every drop matters, and so does every team member.
  </p>

  <h2 class="open-positions">Open Positions</h2>
  {% for job in jobs %}
  <div class="collapsible-container">
    <div class="collapsible-header" onclick="toggleCollapse(this)">
      <h2>{{ job.title }}</h2>
      <span class="arrow"><img src="/static/images/down-arrow.png/"></span>
    </div>

    <div class="company-description">
      <p>{{ job.description }}</p>
    </div>

    <div class="collapsible-content">
      {% if job.qualifications %}
      <p><strong>Job Qualifications:</strong></p>
      {% endif %}
      <ul>
        {% for q in job.qualifications.splitlines %}
          <li>{{ q }}</li>
        {% endfor %}
      </ul>
      {% if job.requirements %}
      <p><strong>Job Requirements:</strong></p>
      <ul>
      {% endif %}
      {% for r in job.requirements.splitlines %}
        <li>{{ r }}</li>
      {% endfor %}
      </ul>
      <a href="#" class="apply-button" onclick="openModal({{ job.id }})">APPLY NOW</a>
    </div>

  </div>

  {% comment %} Application Form {% endcomment %}
  <div class="modal-overlay" id="modalOverlay">
    <div class="modal">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      <h2>APPLICATION FORM</h2>
      <form action="{% url 'careers:create_application' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="job_id" id="job_id_input" value={{job.id}}>
        <input type="text" placeholder="Full Name" name="full_name" required>
        <input type="email" placeholder="Email" name="email" required>
        <textarea placeholder="Additional Information" name="additional_info"></textarea>
        <div>
          <label>Upload your CV</label><br>
          <input type="file" name="cv">
        </div>
        <button type="submit" class="submit-btn">SUBMIT</button>
      </form>      
    </div>
  </div>
  {% endfor %}

  {% comment %} successful application modal {% endcomment %}
  {% if messages %}
  <div class="success-modal-overlay" id="successModal" style="display: block;">
    <div class="success-modal">
      <span class="close-btn" onclick="closeSuccessModal()">&times;</span>
      <h2>Application Submitted!</h2>
      <p>Thank you for applying. We’ll get back to you soon.</p>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}