{% extends 'base.html'%}
{% block maincontent %}

<div class="certs">
  <div class="title">
    <p>LICENSES AND CERTIFICATES</p>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <img src="../../static/images/barangay-clearance.png" alt="Barangay Clearance">
      <div class="name">Barangay Clearance</div>
    </div>
    <div class="grid-item">
      <img src="../../static/images/sec-registration.png" alt="SEC Registration">
      <div class="name">SEC Registration</div>
    </div>
    <div class="grid-item">
      <img src="../../static/images/bus-permit.png" alt="Bus Permit">
      <div class="name">Bus Permit</div>
    </div>
    <div class="grid-item">
      <img src="../../static/images/bir-cert-1.png" alt="BIR Certificate of Registration">
      <div class="name">BIR Certificate of Registration (1)</div>
    </div>
    <div class="grid-item">
      <img src="../../static/images/bir-cert-2.png" alt="BIR Certificate of Registration">
      <div class="name">BIR Certificate of Registration (2)</div>
    </div>
    <div class="grid-item">
      <img src="../../static/images/bir-cert-3.png" alt="BIR Certificate of Registration">
      <div class="name">BIR Certificate of Registration (3)</div>
    </div>
  </div>
</div>

{% endblock %}