{% extends 'base.html'%}
{% block maincontent %}
{% load static %}

<div class="contacts">

  <h1 class="contacts-heading">NEED A WATER-TREATMENT SOLUTION?</h1>

  <div class="info-and-form">
    <!-- Left: Contact Info -->
    <div class="modal">
      <h2>Request a FREE ocular inspection and quotation!</h2>
      <p>SEND US A MESSAGE</p>
      <form action="{% url 'contacts:create_message' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <input type="text" placeholder="Full Name" name="full_name" required>
          <input type="email" placeholder="Email" name="email" required>
        </div>
        <div class="form-row">
          <input type="text" placeholder="Company" name="company" required>
          <input type="text" placeholder="Position" name="position" required>
        </div>
        <textarea placeholder="Enter your message" name="message"></textarea>
        <input type="text" placeholder="Contact No." name="contact-num" required style="height:40px;">
        <button type="submit" class="submit-btn">SUBMIT</button>
      </form>
    </div>

    <!-- Right: Message Form -->

    <div class="contact-info">
      <h2>CONTACT US</h2>
      <div class="location">
        <img class="icon" src="{% static 'images/marker.png' %}">
        <p class="location-text">Unit F 6/F Westgate Tower Condo, Investment Dr., Madrigal Business Park, Ayala-Alabang, Muntinlupa 1780</p>
      </div>
      <div class="email">
        <img class="icon" src="{% static 'images/envelope.png' %}">
        <p class="email-text">flowindustriesopc@gmail.com</p>
      </div>
      <div class="phone">
        <img class="icon" src="{% static 'images/phone-call.png' %}">
        <p class="phone-text">(02) 8296 2844</p>
      </div>
      <div class="mobile">
        <img class="icon" src="{% static 'images/mobile-button.png' %}">
        <p class="mobile-text">+639-776-597-815</p>
      </div>
    </div>
  </div>

  <!-- Map Below -->
  <div class="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7728.035528225201!2d121.01826247895885!3d14.426139524655554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d1cf7b8a3577%3A0x9b2a2beca0441db3!2s1761%20Investment%20Dr%2C%20Muntinlupa%2C%20Metro%20Manila!5e0!3m2!1sen!2sph!4v1746449261722!5m2!1sen!2sph"
      style="border:transparent;"></iframe>
  </div>

  {% if isSuccess %}
  <div class="success-modal-overlay" id="contactsSuccessModal" style="display: block;">
    <div class="success-modal">
      <span class="close-btn" onclick="closeContactsSuccessModal()">&times;</span>
      <h2>Message Submitted!</h2>
      <p>We'll get back to you as soon as possible.</p>
    </div>
  </div>
  {% endif %}
</div>

{% endblock%}