* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin-top: 150px;
}
@media (max-width: 480px) {
  body {
    margin-top: 90px;
  }
}

/* - - - - - NAVBAR - - - - - */
/* NAVBAR CONTAINER */
.navbar-body {
  padding: 1rem;
  background: linear-gradient(90deg, #5BE0E9, #53CBD3);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 1rem auto;
  margin-top: -125px;
  border-radius: 20px;
  width: 95%;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
}
.navbar-body.scrolled {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
/* FLEX NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 9999;
}
/* LOGO */
nav .logo-container img {
  height: 50px;
  margin-left: 16px;
}
/* NAV LINKS */
nav .nav-links {
  list-style: none;
  display: flex;
  gap: 1.7rem;
  margin-right: 16px;
}
nav .nav-links li {
  position: relative;
  margin: 0 18px; 
  font-size: 17px;
}
nav .nav-links a {
  text-decoration: none;
  display: block;
  color: #333;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
nav .nav-links a:hover,
nav .dropdown-menu a:hover {
  transform: scale(1.05);
  text-shadow: 0 0 5px rgba(66, 66, 66, 0.3);
}
nav .disabled {
  pointer-events: none;
  cursor: default;
}
/* DROPDOWN MENU */
nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -70px;
  list-style: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.875);
  padding: 0.5rem 0;
  min-width: 220px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 1000;
}
nav .dropdown-menu li {
  padding: 0.375rem 1rem;
}
nav .dropdown-menu li a {
  color: #000;
  font-size: 14px;
  display: block;
  padding: 4px 8px;
  border-radius: 8px;
}
nav .dropdown:hover .dropdown-menu {
  display: block;
}
/* HAMBURGER MENU - hidden on desktop */
nav .hamburger {
  display: none;
  flex-direction: column;
  margin-right: 16px;
  cursor: pointer;
  gap: 5px;
}
nav .hamburger span {
  height: 3px;
  width: 25px;
  background-color: #333;
  border-radius: 5px;
}
/* MOBILE STYLES */
@media (max-width: 768px) {
  .navbar-body {
    margin-top: -80px;
  }
  nav .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 1rem;
    margin-top: 0;
    border-radius: 12px;
    gap: 8px;
    text-align: center;
  }
  nav .nav-links li {
    margin: 0;
    background: #f6f6f6;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  nav .nav-links li:hover {
    transform: scale(1.02);
  }
  nav.active .nav-links {
    display: flex;
  }
  nav .hamburger {
    display: flex;
  }
  nav .dropdown:hover {
    transform: none !important;
  }
  nav .dropdown-menu {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    width: auto;
    position: static;
    box-shadow: none;
    background: #f6f6f6;
  }
  nav .dropdown-menu li {
    background: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  nav .dropdown-menu li:hover {
    transform: scale(1.0) !important;
  }
}

/* - - - - - BACK TO TOP */
#backToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 100;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5BE0E9;
  color: #333;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none; /* Hidden by default */
  transition: opacity 0.3s ease;
}
#backToTopBtn:hover {
  background-color: #40a0a7;
}

/* - - - - - FOOTER - - - - - */
footer {
  margin: 64px 0 0 0;
  width: 100%;
  height: 240px;
  background-color: #53CBD3;
  bottom: 0;
}
footer .company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .company-name img {
  height: 52px;
  margin: 16px 0 8px 0;
}
footer .info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
footer .info i {
  margin-right: 6px;
}
footer .col1,
footer .col2,
footer .col3 {
  flex: 1;
  min-width: 250px;
  text-align: center;
  font-weight: 500;
  line-height: 2;
  margin-right: 8px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #2a2a2a;
  margin-top: 8px;
}
@media (max-width: 1244px){
  footer .company-name img {
    height: 40px;
  }
  footer .info {
    gap: 0;
    margin: -8px 0;
  }
}
@media (max-width: 999px) {
  footer {
    font-size: 14px;
  }
}
@media (max-width: 882px) {
  footer .copyright {
    margin-top: -20px;
  }
}
/* full mobile view */
@media (max-width: 814px) {
  footer {
    height: 350px;
  }
  footer .company-name img {
    height: 32px;
  }
  footer .info {
    display: flex;
    flex-direction: column;
  }
  footer .info i {
    margin-right: 6px;
  }
  footer .col1,
  footer .col2,
  footer .col3 {
    font-weight: 500;
  }
  footer .col2 {
    margin: 24px 0;
  }
  footer .copyright {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 441px) {
  footer .info .col2 {
    margin: 12px 0;
  }
}

/* - - - - - CAREERS - - - - - */
.careers {
  min-height: 1000px;
  max-height: auto;
}
.careers h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 32px auto;
  color: #03045e;
}
.careers .careers-description {
  margin: 0 auto 32px auto;
  width: 65%;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}
.careers .open-positions {
  display: flex;
  align-items: center;
  margin: 48px auto 16px auto;
  width: 65%;
  color: #03045e;
  font-size: 32px;
}
.careers .collapsible-container {
  background: #caf0f8;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 65%;
  margin: 0 auto 24px auto;
  transition: all 0.3s ease;
}
.careers .collapsible-header {
  background: #caf0f8;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.careers .collapsible-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.careers .company-description {
  padding: 0 20px;
  background: #caf0f8;
  font-size: 14px;
}
.careers .collapsible-content {
  padding: 0 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
}
.careers .collapsible-container.active .collapsible-content {
  max-height: 1000px;
  padding: 20px;
}
.careers .arrow {
  transition: transform 0.3s ease;
}
.careers .collapsible-container.active .arrow {
  transform: rotate(180deg);
}
.careers .arrow img {
  width: 28px;
  height: 28px;
}
.careers .apply-button {
  display: inline-block;
  margin-top: 20px;
  background-color: #03045E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.careers .apply-button:hover {
  background-color: #01024c;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal {
  background: #fff;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  position: relative;
}
.modal h2 {
  margin-top: 0;
  color: #555;
}
.modal form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 20px;
}
.modal textarea {
  grid-column: 1 / 2;
  resize: none;
  height: 100px;
}
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="file"],
.modal textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.modal .submit-btn {
  grid-column: 1 / 3;
  background-color: #0077B6;
  color: white;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.careers .close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}
.careers .close-btn:hover {
  color: #000;
}
@media (max-width: 480px) {
  .careers h1 {
    font-size: 32px;
  }
  .careers .careers-description {
    font-size: 16px;
  }
  .careers .open-positions {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .careers .collapsible-container {
    width: 85%;
  }
  .modal {
    width: 90%;
    margin: 0 16px;
  }
}
.success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999999;
}
.success-modal {
  background: #eeeeee;
  top: 32px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 90%;
  z-index: 1002;
}
.success-modal-overlay .close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* - - - - - PRODUCTS - - - - - */
.products .title-container {
  width: 90%;
  background-color: #5ce1e6;
  border: 4px solid transparent;
  border-radius: 0 16px 16px 0;
  margin-top: 64px;
  height: 112px;
  display: flex;
  align-items: center;
}
.products .product-title {
  color: #0077b6;
  font-size: 32px;
  margin-left: 160px;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.products .product-definition-container {
  width: 80%;
  margin: 32px auto 0 auto;
}
.products .product-definition {
  text-align: justify;
  line-height: 2.25;
}
.products .product1-container {
  display: flex;
  gap: 64px;
  padding: 20px;
  justify-content: center;
  width: 80%;
  margin: 0 auto 32px auto;
  /* background: #000; */
}
.products .product1-container img {
  height: 400px;
  width: 550px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}
.products .feature-container {
  background-color: #CAF0F8;
  border-radius: 12px;
  width: 375px;
  height: 400px;
}
.products .feature-container h3 {
  text-align: center;
}
.products .feature {
  font-weight: 500;
  text-align: center;
  padding: 12px;
  margin: 16px 24px;
  border-radius: 8px;
  background-color: #5CE1E6;
}
@media (max-width: 1184px) {
  .products .feature-container {
    font-size: 14px;
  }
}
@media (max-width: 1124px) {
  .products .product-title {
    font-size: 24px;
  }
}
@media (max-width: 1114px) {
  .products .product1-container img {
    height: 400px;
    width: 375px;
  }
}
@media (max-width: 880px) {
  .products .product1-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
@media (max-width: 760px) {
  .products .title-container {
    height: 150px;
  }
}
@media (max-width: 570px) {
  .products .title-container {
    height: 225px;
  }
}
@media (max-width: 480px) {
  .products .title-container {
    height: 250px;
  }
  .products .product-title {
    font-size: 24px;
    height: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
  }
}

/* - - - - - CONTACTS - - - - - */
.contacts {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.contacts-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 32px;
  color: #023e8a;
}
.contacts .info-and-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 32px;
}
.contacts .location,
.contacts .email,
.contacts .phone,
.contacts .mobile {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.contacts .icon {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}
.contacts .contact-info {
  flex: 1;
  background: #caf0f8;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
.contacts .contact-info h2 {
  text-align: center;
  margin-bottom: 16px;
}
.contacts .contact-info p {
  margin: 4px 0;
  font-size: 15px;
  display: inline-block;
}

/* Message Form */
.contacts .modal {
  flex: 1.5;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  text-align: left;
}
.contacts .modal p {
  font-size: 14px;
  color: #555;
}
.contacts .modal form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts .contact-info p {
  font-size: 16px;
}
.contacts .form-row {
  display: flex;
  gap: 12px;
}
.contacts .modal input,
.contacts .modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.contacts .modal h2,
.contacts .modal h3,
.contacts .modal p {
  margin-bottom: -8px;
}
.contacts .modal textarea {
  min-height: 100px;
  resize: vertical;
}
.contacts .modal button {
  padding: 12px;
  background: #0077b6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contacts .modal button:hover {
  background: #023e8a;
}

/* Map Section */
.contacts .map-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts iframe {
  width: 100%;
  max-width: 1200px;
  height: 450px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}


@media screen and (max-width: 768px) {
  .contacts .map-and-info {
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }
  .contacts iframe {
    width: 100%;
    height: 300px;
  }
  .contacts .contact-info {
    width: 90%;
    height: auto;
    padding: 24px;
    margin-bottom: 32px;
  }
  .contacts .contact-info p {
    font-size: 14px;
  }
  .contacts i {
    font-size: 20px;
  }
  .contacts .social-links i {
    font-size: 32px;
  }
  .contacts .modal {
    margin-top: 0;
    width: 80%;
  }
  .contacts form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

/* - - - - - SERVICES - - - - - */
.services #backBtn {
  position: absolute;
  top: 175px;
  left: 40px;
  z-index: 100;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5BE0E9;
  color: #333;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
.services #backBtn:hover {
  background-color: #40a0a7;
}
.services .title,
.home .title,
.certs .title,
.about .title,
.partners .title,
.major-clients .title {
  color: #0077b6;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.services .description {
  line-height: 2;
  font-size: 18px;
  margin: -40px auto 0 auto;
  text-align: justify;
  width: 70%;
}
.services .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
}
.services .key-advantages {
  font-size: 20px;
  font-weight: bold;
  margin: 16px auto;
  width: 80%;
}
.services .text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
  width: 80%;
}
.services .column {
  flex: 1;
  min-width: 300px;
}
.services .service {
  margin-bottom: 32px;
}
.services .service-title {
  font-weight: bold;
  margin-bottom: 8px;
}
.services .service-description {
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 580px) {
  .services .title,
  .home .title,
  .certs .title,
  .about .title,
  .partners .title,
  .major-clients .title {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 16px;
  }
  .services img {
    width: 95%;
  }
}

/* - - - - - Licenses and Certificates - - - - -*/
.certs .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto 32px auto;
}
.certs .grid-item {
  text-align: center;
}
.certs .grid-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
}
.certs .name {
  font-weight: bold;
  font-size: 16px;
}
.certs .modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.certs .modal-content {
  margin: 100px auto 0 auto;
  display: block;
  width: 450px;
  height: 625px;
}
.certs .close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.certs .close:hover {
  color: #ccc;
}

/* - - - - - HOMEPAGE - - - - - */
.home .carousel {
  position: relative;
  width: 90%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.home .carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.home .carousel-item {
  display: flex;
  min-width: 100%;
  transition: opacity 0.5s;
}
.home .text-content {
  width: 35%;
  padding: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.home .text-content p {
  font-size: 16px;
  color: #555;
}
.home .image-content {
  width: 65%;
}
.home .image-content img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
.home .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #2a2a2a;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}
.home .nav.prev {
  left: 15px;
}
.home .nav.next {
  right: 15px;
}
.home .dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.home .dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}
.home .dot.active {
  background-color: #333;
}
@media (max-width: 768px) {
  .home .carousel-item {
    flex-direction: column;
  }
  .home .text-content,
  .home .image-content {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .home .text-content {
    padding: 20px;
    text-align: center;
  }
  .home .image-content img {
    height: auto;
    max-height: 300px;
    border-radius: 10px 10px 0 0;
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .home .nav {
    font-size: 24px;
    padding: 5px;
  }
  .home .dots {
    bottom: 10px;
    gap: 6px;
  }
  .home .dot {
    height: 8px;
    width: 8px;
  }
  .home .text-content h2 {
    font-size: 20px;
  }
  .home .text-content p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .home .text-content h2 {
    font-size: 18px;
  }
  .home .text-content p {
    font-size: 13px;
  }
  .home .carousel {
    width: 95%;
  }
}
.home .introduction {
  width: 75%;
  margin: 80px auto 40px auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.home .collapsible-text {
  overflow: hidden;
  max-height: 175px;
  position: relative;
  transition: max-height 0.4s ease;
  line-height: 2.0;
  text-align: justify;
  font-size: 18px;
}
.home .collapsible-text.expanded {
  max-height: 1000px;
}
.home .see-more-btn {
  background-color: #53CBD3;
  color: #000;
  text-shadow: 2px 2px 4px #fff;
  border: none;
  padding: 12px 20px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
.home .see-more-btn:hover {
  background-color: #41c4cd;
}
.home .fade-out { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, #f4f4f4, transparent);
  pointer-events: none;
}
.home .collapsible-text.expanded .fade-out {
  display: none;
}
.home .what-we-offer {
  margin-top: 0;
  margin-bottom: -80px;
}
.home .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: -40px auto 32px auto;
}
.home a {
  text-decoration: none;
  display: block;
  border-radius: 8px;
  transition: background-image 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
}
.home .card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-top: 24px;
  z-index: 1;
}
.home .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.home .card img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
.home .card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.home .txt-title,
.about .txt-title {
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
  color: #2c3e50;
}
.home .mission,
.home .vision,
.home .core-values,
.home .core-ideology {
  /* background-color: #f9f9f9; */
  margin-top: -64px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}
.home .mission,
.home .vision {
  min-height: 120px;
}
.home .core-values,
.home .core-ideology {
  min-height: 160px;
  margin-bottom: 32px;
}

@media (max-width: 1000px) {
  .home .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .home .grid-container {
    grid-template-columns: 1fr;
  }
  .home .card {
    width: 92%;
    margin: 0 auto;
  }
  .home .introduction {
    margin: 64px auto 80px auto;
  }
  .home .txt-title {
    margin: -32px auto -16px auto;
  }
  .home .mission,
  .home .vision,
  .home .core-values {
    margin-bottom: -16px;
  }
  .home .what-we-offer {
    margin-bottom: 8px;
  }
}

/* - - - - - ABOUT - - - - - */
.about .about-us {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: -40px auto 0 auto;
  width: 75%;
  line-height: 2.0;
  font-size: 18px;
}
.about .section {
  display: flex;
  flex-direction: column;
  /* margin: 0 32px;
  width: 500px; */
}
 .about .txt-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0 150px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.about .mission,
.about .vision,
.about .core-values,
.about .core-ideology {
  margin-top: -48px;
}
@media (max-width: 560px) {
  .about .about-us {
    font-size: 16px;
    margin-top: 0;
  }
    .home .txt-container {
    grid-template-columns: 1fr;
  }
}

/* - - - - - PARTNERS - - - - - */
.partners {
  display: flex;
  justify-content: center;
  gap: 24px 150px;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.partners .company {
  width: 450px;
  flex-shrink: 0;
  margin-top: -52px;
}
.partners .title p {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 40px;
  color: #2c3e50;
  width: 450px;
}
.partners img {
  max-width: 425px;
  max-height: 300px;
  border-radius: 8px;
  /* background-color: red; */
}
.partners img.naturelink {
  margin-top: -20px;
}
/* ✅ Responsive Design */
@media (max-width: 768px) {
  .partners {
    flex-direction: column;
    align-items: center;
  }
  .partners .company {
    width: 90%; /* or 100% for full width */
    margin-bottom: 30px;
  }
}

/* - - - - - MAJOR CLIENTS - - - - - */
.major-clients img {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .major-clients img {
    width: 90%;
    height: auto;
  }
}
