body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* - - - - - NAVBAR - - - - - */
.navbar-body {
  background: transparent;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar-body nav {
  background: linear-gradient(90deg, #5BE0E9, #53CBD3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-shadow: 1px 1px 2px white;
}
nav .logo-container {
  display: flex;
  align-items: center;
}
nav .logo-container img {
  height: 60px;
  margin: 0 10px 0 32px;
}
nav .logo-container span {
  font-size: 18px;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: 32px;
  padding: 0;
}
nav li {
  margin-left: 8px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
/* Desktop View */
@media screen and (min-width: 851px) {
  nav {
    width: 94%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 28px;
  }
  nav .nav-links-desktop li {
    line-height: 36px;
    height: 36px;
    padding: 0 20px 0 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
  }
  nav .nav-links-desktop li:hover {
    border-bottom: 2px solid #2a2a2a;
  }
  nav .nav-links-desktop li a {
    display: inline-block;
    transition: transform 0.25s ease;
  }
  nav .nav-links-desktop li:hover a {
    transform: scale(1.075) translateZ(0);
  }
}
/* Mobile View */
nav .burger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}
nav .bar {
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  margin: 6px 0;
  transition: 0.4s;
}
nav .change .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  }
nav .change .bar:nth-child(2) {
  opacity: 0;
}
nav .change .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.nav-links-mobile {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.75s ease, transform 0.4s ease;
  flex-direction: column;
  background: linear-gradient(90deg, #5BE0E9, #53CBD3);
  width: 100%;
  position: absolute;
  top: 73px;
  left: 0;
  padding: 0 8px;
  z-index: 10;
  border-radius: 0;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
  transform: translateY(-10px);
  will-change: opacity, max-height, transform;
}
.nav-links-mobile.show {
  opacity: 1;
  max-height: 800px;
  pointer-events: auto;
  transform: translateY(0);
}
nav .nav-links-mobile li {
  border-radius: 8px;
  list-style: none;
  text-align: center;
}
nav .nav-links-mobile li:last-child {
  border-bottom: none;
}
nav .nav-links-mobile li a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  padding: 16px 0;
  margin: 4px 0;
  text-decoration: none;
  color: #2a2a2a;
  font-size: 16px;
  transition: all .3s ease-in-out;
}
nav .nav-links-mobile li a:hover {
  border-radius: 8px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  transform: scale(1.023);
  background-color: #fff;
}
@media (max-width: 1244px) {
  nav .nav-links-desktop {
    display: none;
  }
  nav li {
    margin-left: 0;
  }
  nav .burger-menu {
    display: block;
  }
  nav .logo-container {
    margin-left: -16px;
  }
}
@media (max-width: 480px) {
  nav .logo-container a img {
    height: 48px;
  }
}

/* - - - - - FOOTER - - - - - */
footer {
  margin: 64px 0 0 0;
  width: 100%;
  height: 240px;
  background-color: #53CBD3;
  bottom: 0;
}
footer .company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .company-name img {
  height: 52px;
  margin: 16px 0 8px 0;
}
footer .info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
footer .info i {
  margin-right: 6px;
}
footer .col1,
footer .col2,
footer .col3 {
  flex: 1;
  min-width: 250px;
  text-align: center;
  font-weight: 500;
  line-height: 2;
  margin-right: 8px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #2a2a2a;
  margin-top: 8px;
}
@media (max-width: 1244px){
  footer .company-name img {
    height: 40px;
  }
  footer .info {
    gap: 0;
    margin: -8px 0;
  }
}
@media (max-width: 999px) {
  footer {
    font-size: 14px;
  }
}
@media (max-width: 882px) {
  footer .copyright {
    margin-top: -20px;
  }
}
/* full mobile view */
@media (max-width: 814px) {
  footer {
    height: 350px;
  }
  footer .company-name img {
    height: 32px;
  }
  footer .info {
    display: flex;
    flex-direction: column;
  }
  footer .info i {
    margin-right: 6px;
  }
  footer .col1,
  footer .col2,
  footer .col3 {
    font-weight: 500;
  }
  footer .col2 {
    margin: 24px 0;
  }
  footer .copyright {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 441px) {
  footer .info .col2 {
    margin: 12px 0;
  }
}

/* - - - - - CAREERS - - - - - */
.careers {
  min-height: 1000px;
  max-height: auto;
}
.careers h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin: 32px 0;
  color: #03045e;
  text-shadow: 2px 2px 2px #9a9a9a;
  text-transform: uppercase;
}
.careers .collapsible-container {
  background: #caf0f8;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 75%;
  margin: 0 auto 24px auto;
  transition: all 0.3s ease;
}
.careers .collapsible-header {
  background: #caf0f8;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.careers .collapsible-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.careers .company-description {
  padding: 0 20px;
  background: #caf0f8;
  font-size: 14px;
}
.careers .collapsible-content {
  padding: 0 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
}
.careers .collapsible-container.active .collapsible-content {
  max-height: 1000px;
  padding: 20px;
}
.careers .arrow {
  transition: transform 0.3s ease;
}
.careers .collapsible-container.active .arrow {
  transform: rotate(180deg);
}
.careers .arrow img {
  width: 28px;
  height: 28px;
}
.careers .apply-button {
  display: inline-block;
  margin-top: 20px;
  background-color: #03045E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.careers .apply-button:hover {
  background-color: #01024c;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.careers .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.careers .modal {
  background: #fff;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  position: relative;
}
.careers .modal h2 {
  margin-top: 0;
  color: #555;
}
.careers .modal form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
.careers .modal textarea {
  grid-column: 1 / 2;
  resize: none;
  height: 100px;
}
.careers .modal input[type="text"],
.careers .modal input[type="email"],
.careers .modal input[type="file"],
.careers .modal textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.careers .modal .submit-btn {
  grid-column: 1 / 3;
  background-color: #0077B6;
  color: white;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.careers .close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}
.careers .close-btn:hover {
  color: #000;
}
@media (max-width: 480px) {
  .careers .modal {
    width: 90%;
    margin: 0 16px;
  }
}
.careers .success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.careers .success-modal {
  background: #eeeeee;
  top: 32px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 90%;
}
.careers .success-modal-overlay .close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
