<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>FIOPC</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'images/icon.ico' %}">
</head>

<body>
  <div class="navbar-body">
    <nav>
      {% comment %} Logo {% endcomment %}
      <div class="logo-container">
        <a href="{% url 'home:index' %}" class="logo-container">
          <img src="{% static 'images/title.png' %}" alt="Flow Industries OPC">
        </a>
      </div>

      {% comment %} Links {% endcomment %}
      <ul class="nav-links">
        <li><a href="{% url 'home:index' %}">Home</a></li>
        <li class="dropdown">
          <a class="disabled" href="#">Services</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'services:consulting-services' %}">Engineering and Consulting Services</a></li>
            <li><a href="{% url 'services:design-and-build' %}">Design and Build</a></li>
            <li><a href="{% url 'services:engineering-services' %}">Support Service and Regulatory Assistance</a></li>
            <li><a href="{% url 'services:operations-and-maintenance' %}">Operations and Maintenance</a></li>
            <li><a href="{% url 'services:rehabilitation' %}">Rehabilitation</a></li>
            <li><a href="{% url 'services:technology-upgrade' %}">Technology Upgrade</a></li>
          </ul>
        </li>
        <li><a href="{% url 'products:index' %}">Technology</a></li>
        <li><a href="{% url 'partners:index' %}">Projects</a></li>
        {% comment %} <li><a href="{% url 'major_clients:index' %}">Major Clients</a></li> {% endcomment %}
        <li><a href="{% url 'careers:index' %}">Careers</a></li>
        {% comment %} <li><a href="{% url 'licenses_certificates:index' %}">Licenses and Certs</a></li> {% endcomment %}
        <li><a href="{% url 'about:index' %}">About</a></li>
        <li><a href="{% url 'contacts:index' %}">Contact</a></li>
      </ul>

      <!-- Hamburger -->
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>

  {% block maincontent%}
  {% endblock %}

  {% comment %} <footer>
    <div class="company-name">
      <img src="{% static 'images/title.png' %}" alt="Flow Industries OPC">
    </div>
    <div class="info">
      <div class="col1">
        <i class='bx bxs-phone'></i>(02) 8296 2844<br>
        <i class='bx bxs-envelope'></i><a href="mailto:flowindustriesopc.@gmail.com">flowindustriesopc.@gmail.com</a>
      </div>
      <div class="col2">
        <i class='bx bxs-map'></i><a href="https://maps.app.goo.gl/uMwvVFSqtcEdNKKR9">Unit F 6/F Westgate Tower Condo, Investment Dr., Madrigal Business Park, Ayala-Alabang, Muntinlupa 1780</a>
      </div>
      <div class="col3">
        <i class='bx bxl-linkedin-square' ></i><a href="https://www.linkedin.com/company/flow-industries/">Flow Industries OPC</a><br>
        <i class='bx bxl-facebook-square' ></i><a href="https://www.facebook.com/share/172FWqAWTn/">FlowIndustriesOPC</a>
      </div>
    </div>
    <div class="copyright">
      Copyright 2025 &copy; FLOW INDUSTRIES OPC. All rights reserved.
    </div>
  </footer> {% endcomment %}

  <footer>
    <div class="columns">
      <div class="column-1">
        <img src="{% static 'images/title.png' %}" alt="Flow Industries OPC">
      </div>
      <div class="column-2">
        <i class='bx bxs-phone'></i>(02) 8296 2844<br>
        <i class='bx bxs-envelope'></i> <a href="mailto:flowindustriesopc.@gmail.com">flowindustriesopc.@gmail.com</a>
      </div>
      <div class="column-3">
        <i class='bx bxs-map'></i> <a href="https://maps.app.goo.gl/uMwvVFSqtcEdNKKR9">Unit F 6/F Westgate Tower Condo, Investment Dr., Madrigal Business Park, Ayala-Alabang, Muntinlupa 1780</a>
      </div>
      <div class="column-4">
        <i class='bx bxl-linkedin-square'></i> <a href="https://www.linkedin.com/company/flow-industries/">Flow Industries OPC</a><br>
        <i class='bx bxl-facebook-square'></i> <a href="https://www.facebook.com/share/172FWqAWTn/">FlowIndustriesOPC</a>
      </div>
    </div>
    <div class="copyright">
      <strong>
        Copyright 2025 &copy; FLOW INDUSTRIES OPC. All rights reserved.
      </strong>
    </div>
  </footer>


  <button id="backToTopBtn" title="Go to top">↑</button>

  <link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
  <script src="{% static 'index.js' %}"></script>
  <link rel = "stylesheet" href = "{% static 'style.css' %}">

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const nav = document.querySelector('.navbar-body nav');
      const hamburger = document.querySelector('.hamburger');
      if (hamburger && nav) {
        hamburger.addEventListener('click', () => {
          nav.classList.toggle('active');
        });
      }
    });
  </script>

  <script>
    window.addEventListener("scroll", function () {
      const navbar = document.querySelector(".navbar-body");
      if (window.scrollY > 10) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    });
  </script>

  <script>
    const backToTopBtn = document.getElementById("backToTopBtn");
    window.onscroll = function () {
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        backToTopBtn.style.display = "block";
      } else {
        backToTopBtn.style.display = "none";
      }
    };
    backToTopBtn.addEventListener("click", function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    });
  </script>

</body>
</html>