{% extends 'base.html' %}
{% block maincontent %}

<div class="about">

  <div class="title"><p>ABOUT US</p></div>

  <div class="about-us">
    <p>
      Flow Industries OPC is a forward-thinking company in the water industry, founded by a passionate biology graduate with a vision for creating innovative and sustainable water treatment solutions. Specializing in eco-friendly and high-performance technologies, the company is committed to addressing modern water challenges while promoting environmental responsibility.
      <br><br>
      As a One Person Corporation (OPC), Flow Industries operates with the agility and focus of a sole proprietorship, yet enjoys the limited liability protection and credibility of a corporate structure. This unique setup allows the founder to maintain full control of business decisions while ensuring flexibility, efficiency, and scalability—key advantages in a rapidly evolving industry.
      <br><br>
      Our multidisciplinary team brings together experts in Science, Engineering and Technology. This unique collaboration allows us to integrate advanced technologies with sustainable biological methods, ensuring that our water treatment systems are both innovative and environmentally responsible.
    </p>
  </div>

  <div class="txt-container">
    <div class="section">
      <div class="txt-title"><p>MISSION</p></div>
      <div class="mission">
        <p>To choose a noble work that serve others.</p>
      </div>
    </div>

    <div class="section">
      <div class="txt-title title-vision"><p>VISION</p></div>
      <div class="vision">
        <p>To be the best company and organization in the Philippines.</p>
      </div>
    </div>

    <div class="section">
      <div class="txt-title title-core-values"><p>CORE VALUES</p></div>
      <div class="core-values">
        <p>
          CAPABLE: Give 100% best in all our works.<br>
          TRUSTWORTHY: Maintain integrity on ourselves.<br>
          INCORRUPTIBLE: Be fair and square.<br>
          GOD-FEARING: Always do the right thing.
        </p>
      </div>
    </div>

    <div class="section">
      <div class="txt-title title-core-ideology"><p>CORE IDEOLOGY</p></div>
      <div class="core-ideology">
        <p>
          First is ATTITUDE (people), second is TALENT (product), PROFIT will follow. <br> What's important is WHO we are WHEREVER, WHENEVER we may be.
        </p>
      </div>
    </div>
  </div>

</div>

{% endblock %}