{% extends 'base.html' %}
{% block maincontent %}

<div class="about">

  <div class="title"><p>ABOUT US</p></div>

  <div class="about-us">
    <p>
      Flow Industries OPC is a forward-thinking company in the water industry, founded by a passionate biology graduate with a vision for creating innovative and sustainable water treatment solutions. Specializing in eco-friendly and high-performance technologies, the company is committed to addressing modern water challenges while promoting environmental responsibility.
      <br><br>
      As a One Person Corporation (OPC), Flow Industries operates with the agility and focus of a sole proprietorship, yet enjoys the limited liability protection and credibility of a corporate structure. This unique setup allows the founder to maintain full control of business decisions while ensuring flexibility, efficiency, and scalability—key advantages in a rapidly evolving industry.
      <br><br>
      Our multidisciplinary team brings together experts in Science, Engineering and Technology. This unique collaboration allows us to integrate advanced technologies with sustainable biological methods, ensuring that our water treatment systems are both innovative and environmentally responsible.
    </p>
  </div>

</div>

{% endblock %}