{% extends 'base.html' %}
{% block maincontent %}

<div class="about">

  <div class="title"><p>ABOUT US</p></div>

  <div class="about-us">
    <p>
      Founded in 2025, Flow Industries OPC emerges as a dedicated environmental specialty contractor, expanding the esteemed legacy of its parents company. Established to specifically address advanced water treatment needs, Flow represents parent company's stragetic initiative to specialize and innovate within the environment sector.
      <br><br>
      Conceived by its visionary founder, a passionate biologist enriched by extensive hands-on experience in the industry. Flow is dedicated to revolutionizing wastewater treatment by prioritizing purely biological and organic methodologies, reserving chemical solutions as a secondary alternatives.
      <br><br>
      Our multidisciplinary team unites experts from science, engineering, architecture, and technology, allowing us to seamlessly integrate cutting-edge advancements with sustainable biological techniques. This synergistic approach ensures that our water treatment systems are not only groundbreaking and highly effective but also environmentally sustainable.
      <br><br>
      Flow continuously expands its horizons through rigorous research and development initiatives, hiring professionals, strategic joint ventures, and persistent innovation aimed at achieving global competitiveness.
    </p>
  </div>

  <div class="txt-container">
    <div class="section">
      <div class="txt-title"><p>MISSION</p></div>
      <div class="mission">
        <p>To choose a noble work that serve others.</p>
      </div>
    </div>

    <div class="section">
      <div class="txt-title title-vision"><p>VISION</p></div>
      <div class="vision">
        <p>Be the best organization in the Philippines.</p>
      </div>
    </div>

    <div class="section">
      <div class="txt-title title-core-values"><p>CORE VALUES</p></div>
      <div class="core-values">
        <p>
          Capable: Give all our best in every work.<br>
          Trustworthy: Maintain integrity on ourselves.<br>
          Incorruptible: Being faithful.<br>
          God Fearing: Putting faith in every works.
        </p>
      </div>
    </div>

    <div class="section">
      <div class="txt-title title-core-ideology"><p>CORE IDEOLOGY</p></div>
      <div class="core-ideology">
        <p>
          We measure our success by how many people we've helped along the way.
        </p>
      </div>
    </div>
  </div>

</div>

{% endblock %}