{% extends 'base.html'%}
{% block maincontent %}

<div class="products">

  <div class="title-container">
    <h2 class="product-title">
      Compact Integrated Fixed-Film Activated Sludge<br>System + Outside Membrane Bio-Reactor
    </h2>
  </div>

  <div class="product-definition-container">
    <p class="product-definition">
      The CIFAS + OMBR system is a compact, high-efficiency wastewater treatment solution that combines fixed-film activated sludge with external membrane filtration for superior contaminant removal. Designed to eliminate traditional clarifiers and sand filters, it reduces space requirements and operational complexity while ensuring high-quality effluent. Ideal for industrial and municipal use, it offers a cost-effective and sustainable approach to wastewater management.
    </p>
  </div>
  
  <div class="product1-container">
      <img src="../static/images/cifas-ombr.png" />
      <div class="feature-container">
        <h3>Key Features of CIFAS + OMBR</h3>
        <p class="feature">Compact Design</p>
        <p class="feature">Guaranteed DENR DAO 2016-08 and 2021-19 Compliance</p>
        <p class="feature">No Sand Filter or Traditional Clarifier</p>
        <p class="feature">Low Operation Cost Compared to Conventional STP</p>
      </div>
  </div>

</div>

{% endblock%}
