{% extends 'base.html'%}
{% block maincontent %}
{% load static %}

<div class="products">

  <div class="title-container">
    <h2 class="product-title">
      CIFAS + OMBR TECHNOLOGY for Wastewater Treatment
    </h2>
  </div>

  <div class="product-definition-container">
    <p class="product-definition">
      Introducing our Compact Integrated Fixed-Film Activated Sludge System with Outside Membrane Bio-Reactor—specially designed for hotels, resorts, restaurants, canteens, commercial and industrial plants, public market, schools, and more. This sytem is equipped with an advanced oil and grease degrader, utilizing a diverse range of microorganisms and enymes to break down grease, starch, protein, and plant fibers. It effectively controls odors and handles sudden surges in BOD and COD levels, making it a reliable solution for demanding wastewater treatment needs.
    </p>
  </div>
  
  <div class="product1-container">
    <div class="img-container">
      <img src="{% static 'images/CIFAS+OMBR.png' %}" />
    </div>
    <div class="col2">
      <div class="img-container-2">
        <img src="{% static 'images/keyftrCIFASOMBR.png' %}">
      </div>
      <p>
        ADVANTAGES:<br><br>Our technology features a compact footprint or just 6 sqm for 30 CMD capacity, eliminating the need for sand filters or traditional clarifiers. It delivers improved effluent quality, meeting DENR Class SB standards for reuse, with a simplified biological process and no additional tertiary treatment required. Operating costs are up to 70% lower compared to conventional STPs.
      </p>
    </div>
  </div>

  <div class="mobile-view">
    <div class="img-box">
      <img src="{% static 'images/CIFAS+OMBR.png' %}" />
    </div>
    <div class="column2">
      <div class="column2-img-container">
        <img src="{% static 'images/keyftrCIFASOMBR.png' %}" />
      </div>
      <p>
        ADVANTAGES:<br>Our technology features a compact footprint or just 6 sqm for 30 CMD capacity, eliminating the need for sand filters or traditional clarifiers. It delivers improved effluent quality, meeting DENR Class SB standards for reuse, with a simplified biological process and no additional tertiary treatment required. Operating costs are up to 70% lower compared to conventional STPs.
      </p>
    </div>
  </div>

  <div class="title-container">
    <h2 class="product-title">
      SiC Membrane
    </h2>
  </div>

  <div class="product-definition-container">
    <p class="product-definition">
      Silicone Carbide (SiC) membranes are advanced ceramic membranes used for microfiltration in water and wastewater treatment. These membranes are made from sintered silicon carbide, offering a robust, chemically inert, and highly porous structure. SiC membranes are typically used as pre-treatment for reverse osmosis (RO), tertiary filtration, or as part of MBR (membrane bioreactor) systems.
    </p>
  </div>

  <div class="sic-membrane-img-container">
    <img src="{% static 'images/SiCMembrane1.png' %}" />
    <img src="{% static 'images/SiCMembrane2.png' %}" />
    <img src="{% static 'images/SiCMembrane3.png' %}" />
    <img src="{% static 'images/SiCMembrane4.png' %}" />
  </div>

  <div class="source">Source: Cembrane</div>
  <div class="product-definition-container">
    <p class="product-definition">
      <strong>Advantages and Applications</strong><br>Silicon Carbide (SiC) membranes, like this from Cembrane, are highly durable ceramic membranes used in challenging water and wastewater treatment applications. They offer excellent chemical resistance, thermal stability (up to 800℃ dry), and mechanical strength. Whith high permeability, broad pH tolerance (0-14), and low fouling tendency, they provide long service life and easy cleaning, Common uses include ground water to potable water, wastewater reuse, seawater RO pre-treatment, cooling tower recovery, MBR systems, and oil & gas produced water treatment.
    </p>
  </div>

  <div class="title-container">
    <h2 class="product-title">
      Iron Oxidation Systems
    </h2>
  </div>

  <div class="product-definition-container">
    <p class="product-definition">
      This advanced iron oxidation system removes dissolved ferrous iron from groundwater through a pressurized aeration process. By injecting finely diffused air into the flowing water, it achieves complete oxidation without the need for chemical additives, making filtration more efficient. Its compact and cost-effective design integrates seamlessly with pressure filtration systems, offering a reliable and eco-friendly solution for iron removal.
    </p>
  </div>

  <div class="product1-container">
    <div class="img-container">
      <img src="{% static 'images/IronOxidationSystems.png' %}" />
    </div>
    <div class="col2" style="display:flex; align-items:center; justify-content:center; margin:auto 0;">
      <div class="img-container-2">
        <img src="{% static 'images/keyftrIronOxidationSystems.png' %}">
      </div>
    </div>
  </div>
  <div class="source">Source: ATOMERATOR™</div>

  <div class="mobile-view">
    <div class="img-box">
      <img src="{% static 'images/IronOxidationSystems.png' %}" />
    </div>
    <div class="column2">
      <div class="column2-img-container">
        <img src="{% static 'images/keyftrIronOxidationSystems.png' %}" />
      </div>
    </div>
  </div>

  <div class="title-container">
    <h2 class="product-title">
      Sea Water Reverse Osmosis Desalination Process
    </h2>
  </div>

  <div class="product-definition-container">
    <p class="product-definition">
      Seawater Reverse Osmosis (SWRO) is crucial for addressing global water scarcity, but traditional systems achieve only 35-45% recovery, wasting significant water as brine. This technology revolutionizes SWRO by increasing recovery up to 60%, using multi-stage RO, interstage boosting, and energy recovery devices (ERDs) to enhance efficiency. This innovation reduces brine discharge, lowers energy costs, and minimizes environmental impact, making desalination more sustainable and cost-effective for the future.
    </p>
  </div>

  <div class="product1-container">
    <div class="img-container">
      <img src="{% static 'images/SeaWaterReverseOsmosis.png' %}" />
    </div>
    <div class="col2" style="display:flex; align-items:center; justify-content:center; margin:auto 0;">
      <div class="img-container-2">
        <img src="{% static 'images/keyfeatureSeaWaterReverseOsmosis.png' %}">
      </div>
    </div>
  </div>

  <div class="source">Source: BiTurbo™</div>
    <div class="mobile-view">
    <div class="img-box">
      <img src="{% static 'images/SeaWaterReverseOsmosis.png' %}" />
    </div>
    <div class="column2">
      <div class="column2-img-container">
        <img src="{% static 'images/keyfeatureSeaWaterReverseOsmosis.png' %}" />
      </div>
    </div>
  </div>

</div>

{% endblock%}
