{% extends 'base.html' %}
{% block maincontent %}
{% load static %}

{% comment %} FINISHED {% endcomment %}

<div class="services">
  <button id="backBtn" title="Go back">←</button>
  <div class="title">
    <p>SUPPORT SERVICE AND<br>REGULATORY ASSISTANCE</p>
  </div>

  <div class="description">
    <p>At FLOW, we make environmental permitting simple and stress-free. We assist clients in securing environmental permits while handling all the technical requirements. With accurate documentation and expert coordination, we fast-track approvals, prevent costly delays, avoid penalties, and keep your operations fully compliant with DENR, LGU, and other concerned regulatory bodies.</p>
  </div>

  <div class="image">
    <img src="{% static 'images/support-service.png' %}" alt="Engineering Services">
  </div>

  {% comment %} <div class="key-advantages">Engineering Services</div> {% endcomment %}
  <div class="text-container">
    <div class="column">
      <div class="service">
        <div class="service-title">📃 Compliance Expertise</div>
        <div class="service-description">We guide you through every step of securing DENR permits such as ECC, CNC, Discharge Permits, and PTOs—ensuring full compliance with national environmental regulations.</div>
      </div>

      <div class="service">
        <div class="service-title">🛠️ End-to-end Regulatory Support</div>
        <div class="service-description">We manage the entire compliance process—from initial applications and renewals to environmental reporting—so you can focus on running your operations.</div>
      </div>
    </div>

    <div class="column">
      <div class="service">
        <div class="service-title">⏱️ Penalty and Delay Prevention</div>
        <div class="service-description">By ensuring timely submissions and adherence to legal requirements, we help you avoid costly penalties and interruptions to your business.</div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('backBtn').addEventListener('click', function () {
    if (history.length > 1) {
      history.back();
    } else {
      window.location.href = "/";
    }
  });
</script>

{% endblock%}