{% extends 'base.html' %}
{% block maincontent %}

<div class="services">
  <div class="title">
    <p>ENGINEERING SERVICES</p>
  </div>

  <div class="description">
    <p>We provide comprehensive engineering services to support infrastructure and treatment facility development. Our expertise spans Civil, Architectural, Mechanical, and Electrical Engineering—ensuring seamless project integration, structural integrity, and system efficiency. From concept to completion, we deliver tailored solutions that align with industry standards and client goals.</p>
  </div>

  <div class="image">
    <img src="../../static/images/engineering-services.png" alt="Engineering Services">
  </div>

  <div class="key-advantages">Key Advantages of Our Engineering Services</div>
  <div class="text-container">
    <div class="column">
      <div class="service">
        <div class="service-title">Tailored, Site-Specific Designs</div>
        <div class="service-description"> We don’t offer one-size-fits-all solutions. Our engineering designs are customized to your site conditions, treatment goals, and budget—ensuring optimal performance and cost-efficiency.</div>
      </div>

      <div class="service">
        <div class="service-title">Technical Expertise Across Disciplines</div>
        <div class="service-description">Our team brings multidisciplinary knowledge in civil, mechanical, electrical, and chemical engineering—ensuring integrated, code-compliant, and innovative solutions for every project.</div>
      </div>

      <div class="service">
        <div class="service-title">Regulatory-Ready Documentation</div>
        <div class="service-description">We prepare all necessary technical reports, plans, and drawings aligned with Philippine environmental and construction standards, helping clients secure permits faster and with fewer revisions.</div>
      </div>
    </div>

    <div class="column">
      <div class="service">
        <div class="service-title">Future-Proof and Scalable Solutions</div>
        <div class="service-description">Our designs consider long-term operational efficiency, system scalability, and maintenance accessibility—reducing the need for costly redesigns or early upgrades.</div>
      </div>
      
      <div class="service">
        <div class="service-title"> Efficient Project Execution Support</div>
        <div class="service-description">We offer seamless coordination with contractors, suppliers, and regulatory agencies, streamlining construction timelines and minimizing delays.</div>
      </div>

      <div class="service">
        <div class="service-title">Emphasis on Quality and Safety</div>
        <div class="service-description">From planning to implementation, we follow strict quality assurance protocols and safety standards—ensuring durability, reliability, and risk mitigation in every aspect of the design.</div>
      </div>
    </div>
  </div>
</div>

{% endblock%}